<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>World Map</title>
  <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AtYRfTI-SOUMbIoLeHtdnOX6uEGVUsZQ44yz9elveL5xkqwBO50fmuX2Nn29lemz&callback=loadMapScenario'></script>
  <link rel="stylesheet" type="text/css" href="/map.css">
</head>
<body>
<div class="home-button">
  <a th:href="@{/}">
    <button>← Return to home-screen</button>
  </a>
</div>
<div id="map"></div>

<script th:inline="javascript">
  var list = /*[[${itemList}]]*/ [];
</script>
<script src="/mapScripts.js" ></script>
</body>
</html>